.App {
  text-align: center;
}


.App-header {
  /* background-color: #282c34; */
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-image: url('./Components/img/regBG.jpg');
}

.App-links {
  display: flex;
  color: white;
  justify-content:space-evenly;
  font-size: 2rem;
  background-color: rgba(33, 37, 41, 0.75);
  padding-top: 1%;
  padding-bottom: 1%;
  /* font-family: 'Architects Daughter',cursive; */
  font-weight: bold;
}
a:visited {
  color: white;
  text-decoration: none;
}
a:link {
  color: white;
  text-decoration: none;
}